body{
  margin: 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
}
h1{
  line-height: 2;
  color:  #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Dancing Script', cursive;
}
h2{
  color:  #66BFBF;
  font-family: 'Lemonada', serif;
  font-size: 2rem;
}
h3{
  color: #11999E;
  font-family: 'Lemonada', serif;
  font-weight: normal;

}
a{
  color: #11999E;
  text-decoration: none;
}
a:hover{
  color: #E6F6F6;
}
p{
  color: #40514E;
}
hr{
  margin: 50px auto;
  border: none;
  width: 7%;
  border-top:7px dotted grey;
}
.top_container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin-bottom: 50px;

}
.footer-link{
  margin: 0 20px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px;
  height: 50px;
  margin: 0 auto;

}
.cc{
  color: #EAF6F6;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;

}
.top_cloud{
  position: absolute;
  right: 18.75rem;
  top: 3.2rem;
}
.bottom_cloud{
  position: absolute;
  left: 18.75rem;
  bottom: 18.75rem;
}
.img1{
  margin-top: 30px;
  width: 18%;
}
.img2{
  width: 25%;
  float: left;
  margin-right: 50px;
}
.img3{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn {
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background-color:#11999e;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	font-style:italic;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#b1dee0;
}
.btn:active {
	position:relative;
	top:1px;
}
